=================================================
Non-Graded Challenge 5

Nama  : Nakia Melvana
Batch : RMT-026

This program is made by using progresql for produce customers and orders table, then calculating orders for each customers.
=================================================

-- create table for customers
CREATE TABLE customers (
	customer_id serial PRIMARY KEY, 
	customer_name VARCHAR(20),
	city VARCHAR(20)
);

-- create table for orders
CREATE TABLE orders (
	order_id serial PRIMARY KEY, 
	customer_id INTEGER,
	order_date DATE, 
	total_amount FLOAT, 
	FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
);

-- input data in table customers
INSERT INTO customers (customer_name, city)
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago');
	
-- input data in table orders	
INSERT INTO orders (customer_id, order_date, total_amount)
VALUES
	(1 ,'2022-01-10', 100.00),
	(1, '2022-02-15', 150.00),
	(2, '2022-03-20', 200.00),
	(3, '2022-04-25', 50.00);


-- Total number of orders made by each customer 
SELECT customers.customer_name, Count(Customers.customer_name) as total_orders
FROM Orders
INNER JOIN customers ON orders.customer_id=customers.customer_id
GROUP BY
      customers.customer_name;